@charset "UTF-8";
/*Titulo*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Staatliches&display=swap');
/*Sub titulo*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/*Parágrafos, tags e o resto que tiver*/
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');



body{
    background-image: linear-gradient(to right, #053FA8,#1F6EFF,#1665F5);
}
header{
    padding: 19px  20px;
    background-image: linear-gradient(to right, #053FA8, #1665F5);
}
header > h1{
   margin: 14px 14px 20px 30px; 
   padding: 0px 0px 0px 0px;
   font-family: 'Arvo', 'Staatliches';
   text-align: center;
    
}
nav{
    padding: 3px;
    background-image: linear-gradient(to right, #053FA8, #1F6EFF);
            /*Deslocamento horinzotal, Deslocamento vertical, Espalhamento e a cor*/
    box-shadow: 2px 3px 3px 0px #00000080;     
}
nav > a{
    background-color: #ffff00;
    border: 6px black solid;
    text-decoration: none;
    padding: 3px;
    font-weight: bold;
    margin-right: 9em;
}
nav > a:hover{
    color: #cccc0f;
    border-style: dashed;
    text-decoration: underline;
}
nav > a:active{
    color: #727224;
    border-style: groove;
}

main{
    border-radius: 9px;
    margin: 13px;
    background-color: white;
    font-family: 'Benne';
    font-size: 18px;       
}
footer{
    padding: 13px;
    margin: 27px;
    background-color: #997E04;
    color: gainsboro;
}
footer > p{
    margin: 0px;
}
img.Enfeite{
    margin: 1px 2px;
    padding: 1px 1px;
}

